.navbar {
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    font-weight: bold;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
  }
  
  .navbar-toggle {
    display: none;
    cursor: pointer;
  }
  
  .toggle-icon {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px;
  }
  
  @media (max-width: 768px) {
    .nav-menu {
      display: none;
    }
  
    .navbar-toggle {
      display: block;
    }
  
    .navbar-container {
      justify-content: space-between;
    }
  
    .nav-menu.active {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: absolute;
      top: 50px;
      right: 10px;
      background-color: #f1f1f1;
      padding: 10px;
    }
  }
  